<style>
  .footer-item {
     list-style-type: none;
     text-align: center;
     color: #999
  }
</style>

<div class="navbar navbar-default navbar-fixed-bottom visible-md-block visible-lg-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul>
          <li ng-repeat="left in items.left" class="footer-item">
            <a href="{{ left.link }}">{{ left.title }}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li ng-repeat="middle in items.middle" class="footer-item">
            <a href="{{ middle.link }}">{{ middle.title }}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li ng-repeat="right in items.right" class="footer-item">
            <a href="{{ right.link }}">{{ right.title }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>