<style>
  .navigation .navbar li {
    border-radius: 6px;

    transition: all 250ms;
  }
  .navigation .navbar li:hover {
    background: #911;
  }
</style>

<div class="navigation">
  <div class="navbar navbar-default navbar-inverse navbar-fixed-top">

    <div class="container">

      <ul class="nav navbar-nav" ng-if='items.length > 0'>
        <li>
          <a href="/">Home</a>
        </li>
        <li ng-repeat='item in items'>
          <a href="/blog/{{item.id}}">{{item.title}}</a>
        </li>
      </ul>

    </div>
  </div>
</div>